<template>
  <div class="block add-block">
    <h3><b>+</b> Add Block</h3>
    <input type="text" name="" v-model="node.data" placeholder="Your data...">
    <button type="button" @click="$emit('addBlock', nodeName)">Add</button>
  </div>
</template>
<script>
export default {
  name: "AddBlock",
  props: {
    nodeName: String,
    node: Object
  },
}
</script>
<style lang="css">
.add-block {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ededed;
}

</style>
