<template>
  <div class="block-container" v-if="block">
    <div class="block">
      <span class="index">{{block.index}}</span>
      <ul><li class="label">Data</li> <li class="pill"><b>{{block.data}}</b></li></ul>
      <ul><li class="label">Hash</li> <li class="truncate pill">{{block.hash}}</li></ul>
      <ul><li class="label">PreviousHash</li> <li class="truncate pill">{{block.previousHash}}</li></ul>
      <ul><li class="label">Timestamp</li> <li class="pill">{{block.timestamp}}</li> </ul>
      <ul><li class="label">Nonce</li> <li class="pill">{{block.nonce}}</li></ul>
    </div>
    <div class="arrow">
      &#10097;
    </div>
  </div>
</template>
<script>
export default {
  name: "Block",
  props: {
    block: Object
  }
}
</script>
<style lang="css">
.block {
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 6px;
  box-shadow: 2px 4px 6px #bbb;
}
.block:hover {
  border-top: 2px solid orange;
  padding-top: calc(1em - 2px);
  box-shadow: 2px 4px 3px #aaa;
}
.arrow {
  transform: rotate(90deg);
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label {
  color: #aaa;
  font-weight: bold;
}
.pill {
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 4px;
}
.pill:hover {
  border-color: cornflowerblue;
}
.truncate.pill:hover {
    overflow: visible;
    width: max-content;
    min-width: 100%;
    z-index: 1;
    position: relative;
    background-color: white;
    box-shadow: 0 3px 9px #abd;
}
ul {
  list-style-type: none;
  padding: 0;
  display: block;
}
.index {
  float: left;
  font-weight: bold;
  color: #aaa;
}
li {
  text-align: center;
  display: block;
  margin-right: 10px;
  vertical-align: middle;
}
.block-container:last-child .arrow {
    display: none;
}
</style>
