<template>
  <div>
    <div class="blocks-container" v-if="blockchain.length > 0">
      <transition-group name="list" tag="div">
        <Block v-for="block in blockchain" :block="block" :key="block.hash"></Block>
      </transition-group>
    </div>
    <p v-else> <i>No blocks yet.</i> </p>
  </div>
</template>
<script>
import Block from './Block';

export default {
  name: "BlocksContainer",
  components: {
    Block
  },
  props: {
    blockchain: Array
  },
}
</script>
<style lang="css">
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.list-move {
  transition: transform 1s;
}
</style>
