<template>
  <div class="hello">
    <h1>&#128279; {{ msg }}</h1>
    <div class="container">
      <div class="column">
        <h2>n1
          <button class="online" v-if="n1.online" type="button" @click="disconnect('n1')"><span class="green">&#9679;</span> Online</button>
          <button class="offline" v-else type="button" @click="connect('n1')"><span class="red">&#9679;</span> Offline</button>
        </h2>
        <AddBlock :node="n1" nodeName="n1" @addBlock="addBlock"></AddBlock>
        <BlocksContainer :blockchain="n1.blockchain"></BlocksContainer>
      </div>
      <div class="column">
        <h2>n2
          <button class="online" v-if="n2.online" type="button" @click="disconnect('n2')"><span class="green">&#9679;</span> Online</button>
          <button class="offline" v-else type="button" @click="connect('n2')"><span class="red">&#9679;</span> Offline</button>
        </h2>
        <AddBlock :node="n2" nodeName="n2" @addBlock="addBlock"></AddBlock>
        <BlocksContainer :blockchain="n2.blockchain"></BlocksContainer>
      </div>
      <div class="column">
        <h2>n3
          <button class="online" v-if="n3.online" type="button" @click="disconnect('n3')"><span class="green">&#9679;</span> Online</button>
          <button class="offline" v-else type="button" @click="connect('n3')"><span class="red">&#9679;</span> Offline</button>
        </h2>
        <AddBlock :node="n3" nodeName="n3" @addBlock="addBlock"></AddBlock>
        <BlocksContainer :blockchain="n3.blockchain"></BlocksContainer>
      </div>
      <div class="column">
        <h2>n4
          <button class="online" v-if="n4.online" type="button" @click="disconnect('n4')"><span class="green">&#9679;</span> Online</button>
          <button class="offline" v-else type="button" @click="connect('n4')"><span class="red">&#9679;</span> Offline</button>
        </h2>
        <AddBlock :node="n4" nodeName="n4" @addBlock="addBlock"></AddBlock>
        <BlocksContainer :blockchain="n4.blockchain"></BlocksContainer>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import BlocksContainer from './BlocksContainer';
import AddBlock from './AddBlock';

const axiosInstance = axios.create({
  baseURL: 'http://localhost:8080/',
  timeout: 5000
});

export default {
  name: 'Erlchain',
  components: {
    BlocksContainer,
    AddBlock
  },
  props: {
    msg: String
  },
  data() {
    return {
      n1: {online: false, blockchain: [], data: ""},
      n2: {online: false, blockchain: [], data: ""},
      n3: {online: false, blockchain: [], data: ""},
      n4: {online: false, blockchain: [], data: ""},
    }
  },
  created() {
    //do something after creating vue instance
    setTimeout(() => {this.pool()}, 1000);
  },
  methods: {
    pool() {
      const that = this;
      Promise.all([
        axiosInstance.get("node/n1"),
        axiosInstance.get("node/n2"),
        axiosInstance.get("node/n3"),
        axiosInstance.get("node/n4"),
      ]).then((blockchains) => {
        const [n1, n2, n3, n4] = blockchains;
        this.n1.blockchain = n1.data;
        this.n2.blockchain = n2.data;
        this.n3.blockchain = n3.data;
        this.n4.blockchain = n4.data;
        setTimeout(() => {that.pool()}, 1000);
      });
    },
    connect(node) {
      this[node].online = true;
      axiosInstance.post(`node/${node}/connect`, {});
    },
    disconnect(node) {
      this[node].online = false;
      axiosInstance.post(`node/${node}/disconnect`, {});
    },
    addBlock(node){
      const {data} = this[node];
      axiosInstance.post(`node/${node}`, {data});
      this[node].data = "";
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
body {
  background-color: #ededed;
}
table {
  width: 400px;
  margin: 0 auto;
}
a {
  color: #42b983;
}
.column {
  display: inline-block;
  width: 25%;
  border-right: 1px solid #cecece;
}
.container {
  display: flex;
}
.offline {
  border: 1px solid #ededed;
  background-color: transparent;
  color: #667;
  border-radius: 6px;
  vertical-align: middle;
  padding: 3px 6px;
  transition: all 0.2s;
}
.offline:hover {
  border: 1px solid #f99;
  color: #345;
}
.online {
  border: 1px solid #ededed;
  background-color: transparent;
  color: #667;
  border-radius: 6px;
  vertical-align: middle;
  padding: 3px 6px;
  transition: all 0.2s;
}
.online:hover {
  border: 1px solid limegreen;
  color: #345;
}
.red {
  color: tomato;
}

.green {
  color: limegreen;
}
input {
  max-width: 100%;
  box-sizing: border-box;
}
</style>
